@media(min-width:600px) {

    #top-action-section{
        display: flex;
        align-items: center;
    }

}
.user-list-item .user-list-arrow-icon{
    transition: all 200ms ease;
}
.user-list-item.active .user-list-arrow-icon{
    transform: rotate(180deg);
}
.user-list-item.active{
    background-color: rgb(185, 185, 185);
}

.container{
    width: 100% !important;
}

.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 998;

}

.add_user_modal{
    position: fixed;
    height: 70%;
    bottom: 0;
    background-color: white;
    z-index: 999;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: -70vh;
    
}
.add_user_modal.show{
    box-shadow: 0 0 10px blue;
    bottom: 0;
}